<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/confirm-payment}" th:object="${billingInfo}" method="POST">
        SĐT nhận tiền: <input type="text" th:field="*{phoneNumber}"> <br>
        Họ tên người nhận tiền: <input type="text" th:field="*{name}"> <br>
        Số tiền thanh toán: <input type="text" th:field="*{amount}"> <br>
        <input type="submit" value="Thanh toán">
    </form>
</body>
</html>