<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QR Code Demo</title>

</head>

<body>
    <form>
        Nhập mã giao dịch: <input type="text" id="trans-code"> <br>
        <input type="submit" value="Xác nhận"> <br>
        Hoặc quét mã QR sau: <img th:src="${imgSrc}" id="qr"> <br>
    </form>

</body>
</html>